.selection {
    /* text-align: center; */
    margin-left: 150px;
    font-family: Arial, sans-serif;
    padding: 20px;
}

input {
    margin-right: 10px;
}

#generateButton:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}

.result {
    margin-top: 20px;
    font-weight: bold;
}

.rec_control {
    position: fixed;
    bottom: 0;
    width: 70%;
    z-index: 1;
}

.main_content {
    width: 70%;
}

#response {
    position: fixed;
    right: 0;
    top: 0;
    padding: 4em 2em;
    font-size: 12px;
    width: 30%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    border-left: 1px solid #eee;
    z-index: 1;
    background: #fdfdfd;
}

#myStopwatch {
    font-size: 48px;
        /* 文字サイズを調整 */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
            /* 中央に配置 */
}
